<template>
    
</template>

<script lang="ts">
    import { Vue } from 'vue-class-decorator';
    import Component from 'vue-class-component';

    @Component
    export default class BaseUI extends Vue {}
</script>

<style scoped>

</style>