<template>

</template>

<script lang="ts">
    import BaseUI from './BaseUI.vue';
    import Component from 'vue-class-component';

    @Component
    export default class EmptyUI extends BaseUI {}
</script>

<style scoped>

</style>