<template>
    <UIOverlay>
        <h1>Game Over</h1>

        <TextSoftKeys
            :labels="softKeyLabels"
            v-on:softkeydown="(softKey) => { onSoftKeyDown(softKey); }"
        />
    </UIOverlay>
</template>

<script lang="ts">
import BaseUI from './BaseUI.vue';
import Component from 'vue-class-component';
import UIOverlay from '../UIOverlay.vue';
import TextSoftKeys from '../TextSoftKeys.vue';
import { SoftKeyLabels } from '../../Type/SoftKeyLabels';
import { SoftKey } from '../../Type/SoftKey';
import { Prop, Watch } from 'vue-class-decorator';
import { KeyName } from '../../GameEngine/Input';
import { GameOver } from '../../Game/UI/GameOver';

@Component({
    components: { UIOverlay, TextSoftKeys }
})
export default class GameOverUI extends BaseUI {
    private softKeyLabels: SoftKeyLabels = {
        [SoftKey.LEFT]: 'MENU',
        [SoftKey.CENTER]: 'RETRY',
        [SoftKey.RIGHT]: ''
    };

    @Prop()
    protected uiController!: GameOver;

    @Watch('keyPressed', { immediate: true })
    private onKeyPress(key: KeyName | null) {
        if (!key) {
            return;
        }

        switch (key) {
            case KeyName.CENTER:
                this.uiController.retryLevel();
                break;

            case KeyName.SOFT_LEFT:
                this.uiController.goToMenu();
                break;
        }
    }

    private onSoftKeyDown(key: SoftKey) {
        let keyName: KeyName;
        switch (key) {
            case SoftKey.CENTER:
                keyName = KeyName.CENTER;
                break;
            case SoftKey.LEFT:
                keyName = KeyName.SOFT_LEFT;
                break;
            case SoftKey.RIGHT:
                keyName = KeyName.SOFT_RIGHT;
                break;
        }

        this.onKeyPress(keyName);
    }
}
</script>