<template>
    <div class="fixed-ui">
        <span class="fps">
            FPS: {{ gameLoop.fps }}
        </span>
        <span class="objects-stats">
            Ren:
            T {{ objectStats.total }} /
            R {{ objectStats.rendered }} /
            S {{ objectStats.skipped }}
        </span>
        <span class="home-link" @click="uiController.goHome()">Home</span>
    </div>
</template>

<script lang="ts">
import BaseUI from './BaseUI.vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-class-decorator';
import { InGameDebug } from '../../Game/UI/InGameDebug';
import { GameLoop } from '../../GameEngine/GameLoop';
import { container } from 'tsyringe';
import { Display } from '../../GameEngine/Graphics/Display';

@Component
export default class InGameDebugUI extends BaseUI {
  private gameLoop = container.resolve(GameLoop);
  private objectStats = container.resolve(Display).stats.objects;

  @Prop()
  protected uiController!: InGameDebug;
}
</script>

<style scoped lang="scss">
.fixed-ui {
  position: absolute;
  bottom: 5px;
  right: 5px;

  span {
    display: inline-block;
    padding: 3px;

    &.home-link {
      background-color: #36170C;
      color: white;
    }

    &.objects-stats {
      background-color: #4747a7;
      color: white;
    }

    &.fps {
      background-color: white;
      color: black;
    }
  }
}
</style>