<template>
    <UIOverlay>
        <div class="main-menu">
            <h1>Select level:</h1>
            <ul ref="levels">
                <li
                        v-for="scene in scenes"
                        :data-scene-id="scene.id"
                        :class="{ active: selectedSceneId === scene.id }"
                >
                    {{ scene.title }}
                </li>
            </ul>
        </div>

        <TextSoftKeys
                :labels="softKeyLabels"
                v-on:softkeydown="(softKey) => { onSoftKeyDown(softKey); }"
        />
    </UIOverlay>
</template>

<script lang="ts">
    import BaseUI from './BaseUI.vue';
    import Component from 'vue-class-component';
    import UIOverlay from '../UIOverlay.vue';
    import { Prop, Watch } from 'vue-class-decorator';
    import { Intro } from '../../Game/UI/Intro';
    import TextSoftKeys from '../TextSoftKeys.vue';
    import { SoftKey } from '../../Type/SoftKey';
    import { SoftKeyLabels } from '../../Type/SoftKeyLabels';
    import { KeyName } from '../../GameEngine/Input';
    import { SceneInfo } from '../../Type/SceneInfo';

    @Component({
        components: { TextSoftKeys, UIOverlay }
    })
    export default class IntroUI extends BaseUI {
        public $refs!: {
            levels: HTMLUListElement
        }

        private softKeyLabels: SoftKeyLabels = {
            [SoftKey.LEFT]: '',
            [SoftKey.CENTER]: 'SELECT',
            [SoftKey.RIGHT]: ''
        };

        @Prop()
        protected uiController!: Intro;

        @Prop()
        private keyPressed!: KeyName | null;

        private scenes: SceneInfo[] = this.uiController.scenes;

        private selectedSceneId = this.scenes[0].id;

        @Watch('keyPressed', { immediate: true })
        private onKeyPress(key: KeyName | null) {
            if (!key) {
                return;
            }

            const active = this.$refs.levels.querySelector<HTMLLIElement>('.active');
            if (!active) {
                return;
            }

            switch (key) {
                case KeyName.DOWN:
                    const next = active.nextElementSibling as HTMLElement | null;
                    if (!next || !next.dataset['sceneId']) {
                        this.selectedSceneId = this.scenes[0].id;
                    } else {
                        this.selectedSceneId = parseInt(next.dataset['sceneId']);
                    }

                    break;

                case KeyName.UP:
                    const prev = active.previousElementSibling as HTMLElement | null;
                    if (!prev || !prev.dataset['sceneId']) {
                        this.selectedSceneId = this.scenes[this.scenes.length - 1].id;
                    } else {
                        this.selectedSceneId = parseInt(prev.dataset['sceneId']);
                    }
                    break;

                case KeyName.CENTER:
                    this.uiController.onSceneSelect(this.selectedSceneId);
                    break;
            }
        }

        private onSoftKeyDown(key: SoftKey) {
            let keyName: KeyName;
            switch (key) {
                case SoftKey.CENTER:
                    keyName = KeyName.CENTER;
                    break;
                case SoftKey.LEFT:
                    keyName = KeyName.SOFT_LEFT;
                    break;
                case SoftKey.RIGHT:
                    keyName = KeyName.SOFT_RIGHT;
                    break;
            }

            this.onKeyPress(keyName);
        }
    }
</script>

<style scoped lang="scss">
    li.active {
        font-weight: bold;
    }
</style>