<template>
    <UIOverlay>
        <h1>Loading...</h1>
    </UIOverlay>
</template>

<script lang="ts">
    import BaseUI from './BaseUI.vue';
    import Component from 'vue-class-component';
    import UIOverlay from '../UIOverlay.vue';

    @Component({
        components: { UIOverlay }
    })
    export default class LoadingUI extends BaseUI {}
</script>

<style scoped>

</style>