<template>
    <div id="score"> <!-- TODO --> </div>
</template>

<script lang="ts">
    import Component from "vue-class-component";
    import { Vue } from "vue-class-decorator";

    @Component
    export default class StatsComponent extends Vue {}
</script>

<style scoped lang="scss">
    #score {
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        z-index: 10;

        text-align: center;
        color: white;
        font-weight: bold;
    }
</style>