<template>
    <footer id="softkeys">
        <div id="softkey-left" @click="$emit('softkeydown', SoftKey.LEFT)">{{ labels[SoftKey.LEFT] }}</div>
        <div id="softkey-center" @click="$emit('softkeydown', SoftKey.CENTER)">{{ labels[SoftKey.CENTER] }}</div>
        <div id="softkey-right" @click="$emit('softkeydown', SoftKey.RIGHT)">{{ labels[SoftKey.RIGHT] }}</div>
    </footer>
</template>

<script lang="ts">
    import {Prop, Vue} from "vue-class-decorator";
    import Component from "vue-class-component";
    import {SoftKey} from "../Type/SoftKey";
    import { SoftKeyLabels } from '../Type/SoftKeyLabels';

    @Component
    export default class TextSoftKeys extends Vue {
        private SoftKey = SoftKey;

        @Prop()
        private labels!: SoftKeyLabels;
    }
</script>

<style scoped lang="scss">
    #softkeys {
        height: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;

        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        font-size: 14px;
        color: white;
        font-weight: bold;

        background: #36170C;

        > * {
            cursor: pointer;
            padding: 0 5px;
        }
    }
</style>