<template>
    <div class="ui-overlay">
        <slot></slot>
    </div>
</template>

<script lang="ts">
    import Component from "vue-class-component";
    import { Vue } from 'vue-class-decorator';

    @Component
    export default class UIOverlay extends Vue {

    }
</script>

<style scoped lang="scss">
    .ui-overlay {
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        h1 {
            font-size: 2em;
        }
    }
</style>