<template>
    <div id="app" ref="app">
        <canvas id="game-canvas" ref="canvas"></canvas>

        <component
                v-bind:is="game.currentUI.vueComponent"
                v-bind="{ uiController: game.currentUI, keyPressed: this.keyPressed }"
        ></component>
    </div>
</template>

<script lang="ts">
    import Component from 'vue-class-component'
    import { Vue } from 'vue-class-decorator';
    import { Game } from './GameEngine/Game';
    import { KeyName } from './GameEngine/Input';
    import { container } from 'tsyringe';

    @Component
    export default class App extends Vue {
        $refs!: {
            canvas: HTMLCanvasElement,
            app: HTMLElement,
        }

        private game: Game = container.resolve(Game);

        private keyPressed: KeyName | null = null;

        private onInput(event: KeyboardEvent): void {
            this.keyPressed = this.game.onInput(event);
        }

        mounted() {
            window.addEventListener('keyup', (event): void => this.onInput(event));
            window.addEventListener('keydown', (event): void => this.onInput(event));
            window.addEventListener('blur', (): void => { this.game.onBlur(); });

            const canvas = this.$refs.canvas;
            const style = getComputedStyle(this.$refs.app, null);

            canvas.height = parseInt(style.getPropertyValue('height'));
            canvas.width = parseInt(style.getPropertyValue('width'));

            this.game.onCanvasMounted(canvas);
        }
    }
</script>

<style scoped lang="scss">
    #app {
        position: fixed;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        overflow: hidden;

        padding-bottom: 30px;
        box-sizing: border-box;
    }
</style>